---
import Layout from '../layouts/Layout.astro';
import Education from '../components/Education.astro'
import School from '../components/icons/School.astro'

---

<Layout
	title="Portfolio de Juanies - Desarrollador y programador web"
	description="Contrata a Juanies para crear tu aplicación web o escritorio. Desarrollador web y de Software. Especializado en crear aplicaciones únicas "
>
	<main class="px-4">
<<<<<<< HEAD
		<section class="w-full lg:w-[740px] text-white text-4xl font-bold flex justify-center flex-col pt-44 pb-16">
			<h1>Hey, soy Juan Romero</h1>
			<h2 class="py-6 text-2xl opacity-80 font-[400]">Busco fusionar la estética con la usabilidad, creando una armonía perfecta entre el diseño visual y la funcionalidad en cada línea de código, mientras busco activamente oportunidades para aplicar mi experiencia como desarrollador web y de software.			</h2>
		</section>
		<section class="pb-16">
			<h2 class="text-2xl flex items-center gap-x-4 font-bold pb-6"> <School></School>EDUCACIÓN</h2>
			<Education></Education>
		</section>
		<section >
			<h2 class="text-2xl flex items-center gap-x-4 font-bold pb-6"> <School></School>PROYECTOS</h2>
			<Education></Education>
		</section>
=======
		<Section class="py-44 pb-20">
			<h1 class="text-white text-2xl lg:text-5xl font-bold  lg:pb-10 flex flex-row gap-x-4 pb-10" >
				Hey, Soy Juanies <a
				href="https://www.linkedin.com/in/juan-romero-b549b3260/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
				<Badge>Disponible para trabajar</Badge></a>
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap max-w-[700px]">
				Desarrollador web y de software. De  Almería, España. <span class="text-[#ffd95e] font-bold">Buscando oportunidades</span> para aplicar habilidades en la creación de aplicaciones únicas.
			</h2>
			<nav class="flex  gap-x-2 mt-5 flex-wrap gap-4">
					<SocialPills href="https://github.com/Juanies">
						<Github class="size-4 lg:size-6" />
						Github
					</SocialPills>
					<SocialPills href="https://www.linkedin.com/in/juan-romero-b549b3260/" >
						<Linkedin class="size-4 lg:size-6" />
						Linkedin
					</SocialPills>
					<SocialPills href="mailto:juanromeroviudez@gmail.com" >
						<Mail class="size-4 lg:size-6" />
						juanromeroviudez@gmail.com
					</SocialPills>
			</nav>
		</Section>
		<Section id="sobremi">
			<h2 class="text-2xl font-semibold mb-4 flex gap-x-3 items-center"> <Briefcase  class="size-8"/>Educación</h2>
			<Experience />
		</Section>

>>>>>>> e12ba337f24fdca964772275e2b64314fae58dac
	</main>
</Layout>
