---
import Layout from '../layouts/Layout.astro';
import Education from '../components/Education.astro'
import School from '../components/icons/School.astro'
import EducationItem from '../components/EducationItem.astro';
import Proyectos from '../components/icons/Proyectos.astro'
import Proyect from '../components/Project.astro'
import Globalicon from '../components/Globalicon.astro'

---

<Layout
	title="Portfolio de Juanies - Desarrollador y programador web"
	description="Contrata a Juanies para crear tu aplicación web o escritorio. Desarrollador web y de Software. Especializado en crear aplicaciones únicas "
>
		<Globalicon/>
	<main class="px-4">
		<section class="w-full lg:w-[740px] text-white text-4xl font-bold flex justify-center flex-col pt-44 pb-16">
			<h1>Hey, soy Juan Romero</h1>
			<h2 class="py-6 text-2xl opacity-80 font-[400]">Busco fusionar la estética con la usabilidad, creando una armonía perfecta entre el diseño visual y la funcionalidad en cada línea de código, mientras busco activamente oportunidades para aplicar mi experiencia como desarrollador web y de software.			</h2>
		</section>
		<section class="pb-16">
			<h2 class="text-2xl flex items-center gap-x-4 font-bold pb-6"> <School></School>EDUCACIÓN</h2>
			<Education/>
		</section>
		<section >
			<h2 class="text-2xl flex items-center gap-x-4 font-bold pb-6"> <Proyectos></Proyectos> PROYECTOS</h2>
			<Proyect />
		</section>
	</main>

</Layout>
