---
    import Rocket from  './icons/Rocket.astro'
---

<div class="absolute left-[10%] top-[50%]">
    <Rocket class="absolute text-2xl opacity-20 h-20 w-20"></Rocket>
</div>
<div class="absolute right-[10%] top-[50%]">
    <Rocket class="absolute rotate-[265deg] text-2xl opacity-20 h-20 w-20"></Rocket>
</div>