---
    import Rocket from  './icons/Rocket.astro'
    import Star from  './icons/Star.astro'

---

<div class="absolute left-[10%] top-[50%]">
    <Rocket class="absolute text-2xl opacity-20 h-20 w-20"></Rocket>
</div>
<div class="absolute right-[10%] top-[50%]">
    <Rocket class="absolute rotate-[265deg] text-2xl opacity-20 h-20 w-20"></Rocket>
</div>
<div class="absolute left-[10%] top-[50%]">
    <Star class="absolute text-2xl opacity-20 h-20 w-20"></Star>
</div>
<div class="absolute right-[10%] top-[50%]">
    <Star class="absolute rotate-[265deg] text-2xl opacity-20 h-20 w-20"></Star>
</div>