<header class="flex justify-center items-center py-3 " >
    <nav class="flex gap-10 text-[17px]">
        <a class="opacity-90  hover:opacity-100" title="#" href="#">Inicio</a>
        <a class="opacity-90 hover:opacity-100"  title="#" href="#">Experiencia</a>
        <a class="opacity-90 hover:opacity-100"  title="#" href="#">Proyectos</a>
        <a class="opacity-90 hover:opacity-100"  title="#" href="#">Para mí</a>
        <a class="opacity-90 hover:opacity-100"  title="#" href="#">Contacto</a>
    </nav>
</header>