<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2" >
    <nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
        <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400  " title="#" href="#">Inicio</a>
        <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 "  title="#" href="#">Experiencia</a>
        <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 "  title="#" href="#">Proyectos</a>
        <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 "  title="#" href="#">Para mí</a>
        <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 "  title="#" href="#">Contacto</a>
    </nav>
</header>


<style>

    header{
        position: sticky;
        animation: adjust-header linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
        padding: .1em 2em .1em 2em;
        backdrop-filter:  blur(2px);
        top: 2%;
        color: rgb(229 231 235, 1);
        font-weight: 500;
        border-radius: 4em;

    }

    @keyframes adjust-header{
        to{
            background-color: #b3b3b385;
            z-index: 3;
        }
    }

</style>