---
    import ProjectItem from '../components/ProjectItem.astro'
    const PROYECTOS = [
        {
            title: "Pescaderia Carenero",
            description: "Pescadería Carenero, una empresa especializada en productos marinos artesanales, ha dado el salto hacia la modernización a",
            img: "https://www.dariochic.dev/pescaderiacarenero.webp",
            url: "https://carenero-pescaderia.vercel.app/",
            stack: ["React", "NextJS", "Figma", "WhatshaapApi"],
            github: "https://github.com/",
        },
        {
            title: "Pescaderia Carenero",
            description: "Pescadería Carenero, una empresa especializada en productos marinos artesanales, ha dado el salto hacia la modernización a",
            img: "https://www.dariochic.dev/pescaderiacarenero.webp",
            url: "https://carenero-pescaderia.vercel.app/",
            stack: ["React", "NextJS", "Figma", "WhatshaapApi"]
        }
    ]


---

<section>
    {
    PROYECTOS.map((e, index) => (
        <ProjectItem {...e} key={index}/>
    ))
    }
</section>

<script>
    const elementosLi = document.getElementsByClassName("projectitem");
    const elementosArray = Array.from(elementosLi);

    elementosArray.forEach(e => {
        e.getElementsByTagName("a")[0].addEventListener('mouseenter', () => {
            const imgElement = e.getElementsByTagName("a")[0];
            imgElement.classList.remove("translate-x-0");
            imgElement.classList.add("translate-x-[-5em]");
        });
        e.getElementsByTagName("a")[0].addEventListener('mouseleave', () => {
            const imgElement = e.getElementsByTagName("a")[0];
            imgElement.classList.remove("translate-x-[-5em]");
            imgElement.classList.add("translate-x-0");
        });
    });
</script>