---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date: '2023 - Actualidad',
        title: 'Grado Superior  - Desarrollo de Aplicaciones Multiplataforma',
        description: 'Educación en desarrollo de aplicaciones multiplataforma, diseño de interfaces gráficos y gestión de bases de datos, integración multimedia y despliegue de aplicaciones móviles.'
    },
    {
        date: '2021 - 2023 ',
        title: 'Grado Medio -  Sistemas microinformáticos y redes',
        description: 'Cración de redes (Linux y Windows), mantenimiento de equipos, aplicaciones ofimáticas, sistemas operativos, seguridad informática y gestión empresarial. Experiencia práctica en empresas del sector.'
    },
]
---
<ol class="relative border-s border-gray-200  ml-4">
    {
        EXPERIENCE.map(e => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...e}/>
            </li>
        ))
    }
</ol>
